<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/svg+xml" href="~/img/vite.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/site.css" />
  <script type="importmap">
  {
    "imports": {
      "turbo": "@Url.Content("~/lib/@hotwired/turbo/dist/turbo.es2017-esm.js")",
      "stimulus": "@Url.Content("~/lib/@hotwired/stimulus/dist/stimulus.js")"
    }
  }
  </script>
  <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
  <script type="module">
    import * as Turbo from 'turbo'
    Turbo.session.drive = true
    import { Application } from "stimulus"
    const application = Application.start()
    window.Stimulus = application
        
    import '@Url.Content("./js/signalRTurboStreamElement.js")'
    
  </script> 
</head>
<body>
  <header>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Notes" asp-action="Index">Notes</a>
    <a asp-controller="Todos" asp-action="Index">Todos</a>
    <a asp-controller="Home" asp-action="About">About</a>
    <span>Foo</span>
  </header>
  <main id="app">
    @RenderBody()
  </main>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
